 
 /* ça bug à 1500px; */
 
@media (max-width: 400px) {




}

 @media (max-width: 756px) {


    nav, header, article {
        margin-left: 3%;
        margin-right: 3%;
    }
 
  nav img
  {
    width: 30%;
  }


  nav
   {
      flex-direction: column;
      width: 90%;
      margin-left: 5px;
      justify-content: start;
      margin-right: 5px;
   }

   .menu
   {
       flex-direction: column;
   }

   .filter
   {
    margin-left: 20px;
    margin-bottom: 20px;
       width: 45%;
   }

   .filtrer:nth-child(1) .filter:nth-child(2)
   {
       display: flex;
       flex-direction: row;
   }

  .logements
   {
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
   }

  .gauche, .droite
  {
    margin-left: 1px;
    }

    .gauche
    { 
      width: 100%;
      background-color: white;
    }

    aside
    {
        width: 100%;
    }

    .droite {
    flex-direction: column;
    
  }

    .hotel, .gauche .section 
    {
    justify-content: center;
    margin-left: 10%;
    }

    
    section {
      background-color: none;
    }
    
    .logements
    {width: 100%}

    .motel
   {
    flex-direction: row;
  }

    .tourisme
    {
      justify-content: center;
    }

    .tourisme img
    {
        height: 450px;
        object-fit: cover 
    }
    
    
    .acti img
      {
        height: 150px;
      }

    .grand img {
        height: 150px;
    }

    .acti p, .grand p{
        padding: 15px;
    }

    .footing
    {
        padding-top: 20px;
      flex-direction: column;
    }

 }