@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", serif, sans-serif;
  margin: 0px;
}

p {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
}

footer {
  font-family: "Raleway";
}

h2 {
  font-size: 17px;
}

h3,
h4 {
  font-size: 20px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-size: 20px;
  margin-left: 20px;
}

.fas {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

a:visited {
  text-decoration: none;
}

/* ---------- nav ---------- */

nav img {
  width: 150px;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

.entete {
  display: flex;
  font-weight: bold;
  margin-right: 10%;
}

.entete ul {
  display: flex;
  flex-direction: row;
}

.navinscrire {
  order: 1;
  font-weight: bold;
}

.navinscrire {
  margin-top: 15px;
}

.entete a {
  text-decoration: none;
  margin: 40px;
}

.navinscrire a {
  color: #0065FC;
}

/* ------ header ---------*/

header {
  margin-left: 20px;
}

h2 {
  opacity: 0.8;
  padding-bottom: 10px;
}

.ici {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.ici .fas {
  color: black;
  margin-top: 8px;
}

.mobilefilters {
  display: flex;
}
.filter .fas {
  color: #0065fc;
  text-align: center;
}

#recherche {
  height: 50px;
  display: flex;
  margin-bottom: 40px;
}

input[type="text"] {
  font-size: 20px;
  padding-left: 20px;
  border: 0.1px solid rgb(231, 227, 227);
}

input[type="submit"] {
  border-radius: 0px 12px 12px 0px;
  background-color: #0065fc;
  color: white;
  height: 50px;
  font-size: 20px;
  border: none; 
  border-width: 0; 
  box-shadow: none;
}

.boutonmobil {
  display: none;
}

/* ----------- Fitres ------------------*/

.menu {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.menu :hover:not(.filtre):not(i):not(h6):not(.mobilefilters) {
  cursor: pointer;
  background-color: rgb(133, 195, 214);
}

.menu h6 {
  margin-left: 15px;
  margin-right: 25px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

.filter {
  display: flex;
  border: 1px solid rgb(179, 196, 201);
  border-radius: 50px;
  width: auto;
  height: 50px;
  margin-left: 25px;
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 40px;
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: bold;
}

.menu i {
  background-color: #dae4f3;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 40px;
  display: flex;
}

.info i {
  color: blue;
}

/* ---------- article1 --------- */

.logements {
  display: flex;
  margin-top: 50px;
}

#Hebergements {
  margin-left: 10px;
}



.article1 {
  background-color: #f2f2f2;
  max-width: 60%;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 20px;
}


 
.gauche {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.hotel img {
  border-radius: 20px 20px 0 0;
  width: 292px;
  height: 120px;
  cursor: pointer;
  border: 8px solid white;

  object-fit: cover;
}

.text-bleu i {
  color: blue;
}

.text-gris i {
  color: rgb(190, 190, 190)
}


.hotel {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
}

.soushotel {
  margin-left: 10px;
  margin-bottom: 5px;
}

.soushotel p {
  margin: 1px;
  margin-left: 4px;
}

.afficher {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
}

.afficher a {
  font-weight: bold;
  margin-left: -15px;
}

.article2 {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 30%;
  margin-left: 40px;
  padding-bottom: 20px;
}

.droite {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.populaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.populaire h4 {
  margin-left: -25px;
}

.populaire .fas {
  color: black;
}

.droite img {
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  object-fit: cover;
}

.motel {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 4px;
  margin-left: 10px;
  margin: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
}

.motel p {
  margin: 1px;
}

.motel .fas {
  margin-top: 15px;
}

.sousmotel {
  min-width: 80px;
  padding: 10px;
}

/* ------------- article ------------ */

.article3 {
  margin-top: 50px;
}

.Activites {
  margin-left: 20px;
}

.tourisme img {
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  padding: 0;
}

.tourisme p {
  margin-left: 25px;
  font-weight: 800;
}

.tourisme {
  width: auto;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}

.tourisme img {
  object-fit: cover;
}

.acti,
.grand {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
  margin-right: 50px;
  border-radius: 20px 20px 20px 20px;
}

.acti p {
  padding-bottom: 20px;
}

.grand {
  height: 555px;
}


/* ----------foooter ------------ */

.footing {
  background-color: #f2f2f2;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.gras p {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.footing li {
  margin-top: 10px;
}

.footing ul {
  font-weight: bold;
}


@media screen and (min-width: 1300px) {
  
  .footing {
  justify-content: flex-start;
  }

  .footing ul {
    margin-right: 200px;
    margin-left: 30px;
  }

  .article3 h5 {
    margin-left: -1px;
  }

}

@media screen and (min-width: 1745px) and (max-width: 1841px) {
  .hotel img {
  width: 270px;
  }
}

@media screen and (min-width: 1672px) and (max-width: 1745px) {
  .hotel img {
    width: 260px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1672px) {
  .hotel img {
    width: 245px;
  }
}

@media screen and (min-width: 1530px) and (max-width: 1600px) {
  .hotel img {
    width: 232px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1530px) {
  .hotel img {
    width: 215px;
  }
}


@media screen and (min-width: 1350px) and (max-width: 1440px) {
  .hotel img {
    width: 200px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1350px) {
  .hotel img {
    width: 188px;
  }

  .gauche {
   
    padding-left: 0;
  }
}

/* LE RESPONSIVE DES ACTIVITES */


@media screen and (min-width: 2400px) and (max-width: 2561px) {
  .tourisme img {
    width: 422px;
  }
}


@media screen and (min-width: 2200px) and (max-width: 2400px) {
  .tourisme img {
    width: 420px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2200px) {

  .tourisme img {
    width: 400px;
  }
}


@media screen and (min-width: 1900px) and (max-width: 2000px) {

  .tourisme img {
    width: 387px;
  }
}

@media screen and (min-width: 1830px) and (max-width: 1900px) {

  .tourisme img {
    width: 375px;
  }
}

@media screen and (min-width: 1750px) and (max-width: 1830px) {

  .tourisme img {
    width: 365px;
  }
}

@media screen and (min-width: 1670px) and (max-width: 1750px) {

  .tourisme img {
    width: 350px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1670px) {

  .tourisme img {
    width: 332px;
  }
}


@media screen and (min-width: 1530px) and (max-width: 1600px) {

  .tourisme img {
    width: 322px;
  }
}


@media screen and (min-width: 1460px) and (max-width: 1530px) {

  .tourisme img {
    width: 304px;
  }
}

@media screen and (min-width: 1430px) and (max-width: 1460px) {
  .tourisme img {
    width: 289px;
  }
}




@media screen and (min-width: 1390px) and (max-width: 1430px) {
  .tourisme img {
    width: 279px;
  }
}

@media screen and (min-width: 1320px) and (max-width: 1390px) {
  .tourisme img {
    width: 271px;
  }
}


  
@media screen and (min-width: 1280px) and (max-width: 1320px) {
  .tourisme img {
    width: 260px;
  }
}


/* fun du responsive qui rend fou */





@media screen and (min-width: 2060px) {
  body {
    max-width: 2060px;
    margin-left: 10%;
  }
}




@media screen and (min-width: 1250px) {


  .navrespon,
  .navinscrire {
    padding-top: 40px;
  }

  .entete a {
    font-weight: bold;
  }

  .entete a:hover {
    border-top: 3px solid blue;
    padding-top: 40px;
    color: blue;
  }

  nav,
  header,
  .logements {
    margin-right: 3%;
    margin-left: 3%;
  }

  .article3 {
    margin-left: 3%;
  }

  .info i {
    color: blue;
    margin-top: 18px;
    margin-right: 10px;
  }
}




@media screen and (min-width: 1025px) and (max-width: 1250px) {

  .navrespon,
  .navinscrire {
    padding-top: 40px;
  }

  .entete a {
    font-weight: bold;
  }

  .info i {
    color: blue;
    margin-top: 18px;
    margin-right: 10px;
}

  nav img {
    margin-left: 30px;
  }


  .logements {
    margin-right: 3%;
    margin-left: 3%;
  }

  .motel img {
    width: 150px;
  }
}



@media screen and (min-width: 1024px) and (max-width: 1450px) {
  .article2 {
    width: 38%;
  }

  .tourisme {
    justify-content: center;
  }
}

@media screen and (min-width: 510px) and (max-width: 714px) {
  .navinscrire {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
  }
}

@media screen and (min-width: 643px) and (max-width: 714px) {
  .navrespon {
    margin-top: 40px;
  }
}

@media screen and (min-width: 510px) and (max-width: 620px) {
  nav {
    display: flex;
    flex-wrap: wrap;
  }

  .mobilefilters {
    margin-bottom: 10px;
  }

  .tourisme {
    width: 100%;
  }
}

@media screen and (min-width: 510px) and (max-width: 1024px) {
  nav,
  header,
  .article3 {
    margin-right: 1%;
    margin-left: 1%;
  }


  .recherche,
  .soustitre, 
  #recherche,
  nav img {
    margin-left: 30px;
  }

  .soustitre h1 {
    width: 450px;
  }

  .soustitre h2 {
    font-size: 20px;
  }

  .entete {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navrespon {
    display: flex;
    flex-direction: column;
  }

  .navinscrire {
    margin-left: 50px;
  }

  .navinscrire a:link {
    font-weight: bold;
  }
  .article1 {
    margin: 0.1px;
  }

  .menu {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .filter:nth-child(4) {
    margin-top: 20px;
  }

  .mobilefilters {
    margin-bottom: 20px;
    width: 300px;
  }

  .filter {
    width: 220px;
  }

  .info i {
    padding-top: 17px;
    padding-right: 10px;
  }

  .gauche {
    align-items: center;
  }

  .logements {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .droite {
    width: 100%;
    margin-left: 0%;
    justify-content: center;
  }

  .sousmotel {
    width: 180px;
  }

  .article2 {
    background-color: white;
    margin-left: 0;
    width: 90%;
  }

  .article1 {
    margin-top: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .populaire {
    align-items: center;
    justify-content: space-around;
  }

  input[type="submit"] {
    display: none;
  }

  .boutonmobil {
    display: inline;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    border: none;
  }

  .tourisme {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .responsive {
    margin-top: 30px;
  }

  .grand,
  .acti {
    margin-bottom: 20px;
  }

  .grand {
    height: 110%;
  }

  .footing {
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 510px) {

.hotel {
  margin-right: 0;
}

motel {
  margin-right: 0;
}
}

@media screen and (min-width: 470px) and (max-width: 510px) {
  .menu {
    margin-left: 0px;
  }
}

@media screen and (min-width: 410px) and (max-width: 510px) {
  .filter:nth-child(4) {
    max-width: 280px;
  }

  .filter:nth-child(2) {
    min-width: 180px;
  }
}

@media screen and (max-width: 510px) {
  body {
    margin: 0px;
  }

  #Reservia {
    padding-left: 20px;
  }

  nav {
    margin-left: 5px;
    margin-right: 5px;
  }

  .navinscrire a:link {
    font-weight: bold;
  }

  nav img {
    margin-top: 0px;
  }

  nav {
    display: inline;
  }

  .navinscrire {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 20px;
    width: auto;
  }

  .navinscrire a {
    width: auto;
  }

  .navrespon {
    margin-left: -48px;
    font-size: 20px;
  }

  .entete {
    border-bottom: 3px solid rgb(187, 184, 184);
    margin-right: 0;
  }

  .navrespon li:first-child a:hover {
    padding-bottom: 20px;
    border-bottom: 4px solid blue;
 
  }

  .navrespon li:last-child a:hover {
    padding-bottom: 20px;
    border-bottom: 4px solid grey;
  }

  input[type="submit"] {
    display: none;
  }

  header h1 {
    font-size: 22px;
    width: 300px;
  }

  .boutonmobil {
    display: inline;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    border: none;
  }

  .menu {
    flex-direction: column;
    margin-left: -30px;
  }

  .menu h6 {
    font-size: 18px;
    margin-right: 5px;
  }

  .filter {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 60%;
  }

  .filtrer:nth-child(1) .filter:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .filter:nth-child(4) {
    width: 82%;
  }

  .info i {
    padding-top: 30px;
    padding-right: 10px;
  }

  header p {
    font-size: 20px;
  }

  /* article 1 */

  .logements {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background: white;
    width: 100%;
  }

  .populaire {
    font-size: 30px;
    width: 90%;
  }

  .logements h4 {
    font-size: 20px;
  }


  #Hebergements {
    width: 300px;
    padding-left: 0;
    margin-left: 4%;
  }

  .gauche {
    background: white;
    padding-left: 0;
    justify-content: center;
  }

  .hotel img {
    width: 320px;
  }

  .article1,
  .gauche {
    background-color: white;
    padding: 0;
  }

  .afficher {
    margin-left: 0;
  }

  .article1 {
    max-width: 100%;
  }

  /* article2 */

  .droite {
    flex-direction: column;
  }

  .motel {
    flex-direction: row;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: 3%;
    width: 80%;
  }

  .article2 {
    background-color: #f2f2f2;
    border-radius: 0px;
    width: 100%;
    margin-left: 0;
  }

  .article2 img {
    width: 40%;
  }

  /* ---------- article3 mobile --------- */

  .article3 {
    margin: 1%;
  }

  #Activites {
    padding-left: 20px;
  }

  h5 {
    margin-left: 0;
  }

  .tourisme h5 {
    font-size: 30px;
    margin-left: 0px;
    padding-top: 50px;
  }

  .petit,
  .grand,
  .acti {
    height: 20%;
    width: 100%;
    margin-bottom: 40px;
    margin-right: 1px;
  }

  .responsive {
    height: 150px;
    width: 100%;
  }

  .acti p {
    padding-bottom: 10px;
    padding-top: 0px;
  }

  .petit {
    margin-bottom: 20px;
  }

  /* ------------ footer mobile ----------- */

  .footing {
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 370px) {
  input[type="text"] {
    width: 160px;
  }

  h1 {
    font-size: 20px;
    max-width: 300px;
  }

  h2 {
    font-size: 15px;
  }

  h4 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  .filtre {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .navrespon,
  .navinscrire {
    font-size: 15px;
  }

  .navinscrire {
    margin-left: -140px;
  }

  .navrespon {
    margin-left: -60px;
  }

  .hotel img {
    width: 280px;
  }

  .article2 {
    width: 100%;
  }

  filter:nth-child(4) {
    width: 90%;
  }

  .mobilefilters {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .article1 {
    margin-left: 5px;
  }
}
